.container {
	padding-right: 10%;
	padding-left: 10%;
	margin-right: auto;
	margin-left: auto;
	width:80%
  }
   .list {
    list-style-type: none;
}
.container .col {
	display: flex;
	flex-direction: row;
 }
  @media (min-width: 768px) {
	.container {
	  width: 750px;
	}
  }
  @media (min-width: 992px) {
	.container {
	  width: 970px;
	}
  }
  @media (min-width: 1200px) {
	.container {
	  width: 1170px;
	}
  }